In [1]:
from matplotlib import pyplot as plt
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import date
import c_stock_data as SD

# Set input parameters to fetch data

In [5]:
FILE_PATH = 'Data/stock_df.parquet'
TICKERS = ['GOOGL', 'MSFT', 'TSLA']
START_DATE = date(2020, 1, 1)
END_DATE = date(2022, 9, 30)

# Fetch downloaded data

1. Check if downloaded data exists
2. Check if downloaded data has requested tickers
3. Check if downloaded data has requested time period

### 1. Check for downloaded data

In [6]:
sd_one = SD.YFinData(tickers=TICKERS, start_date=START_DATE, end_date=END_DATE, file_path=FILE_PATH)

In [12]:
df = sd_one.get_df()
df

,Date,Ticker,Adj_Close,Close,High,Low,Open,Volume
0,2019-12-31,GOOGL,66.969498,66.969498,67.032997,66.606499,66.789497,19514000
1,2019-12-31,MSFT,153.745209,157.699997,157.770004,156.449997,156.770004,18369400
2,2019-12-31,TSLA,27.888666,27.888666,28.086000,26.805332,27.000000,154285500
3,2020-01-02,GOOGL,68.433998,68.433998,68.433998,67.324501,67.420502,27278000
4,2020-01-02,MSFT,156.591995,160.619995,160.729996,158.330002,158.779999,22622100
...,...,...,...,...,...,...,...,...
4198,2022-10-07,MSFT,234.240005,234.240005,241.320007,233.169998,240.899994,37732400
4199,2022-10-07,TSLA,223.070007,223.070007,234.570007,222.020004,233.940002,83592300
4200,2022-10-10,GOOGL,97.860001,97.860001,99.099998,97.010002,99.000000,18225100
4201,2022-10-10,MSFT,229.250000,229.250000,234.559998,226.729996,233.050003,29743600
4202,2022-10-10,TSLA,222.960007,222.960007,226.990005,218.360001,223.929993,67925000

In [13]:
df = df.pivot(index='Date', columns='Ticker', values='Adj_Close')
df

Ticker,AAPL,AMZN,GOOGL,MSFT,NFLX,TSLA
Date,,,,,,
2019-12-30,71.517334,92.344498,NaN,NaN,323.309998,NaN
2019-12-31,72.039879,92.391998,66.969498,153.745209,323.570007,27.888666
2020-01-02,73.683571,94.900497,68.433998,156.591995,329.809998,28.684000
2020-01-03,72.967201,93.748497,68.075996,154.642166,325.899994,29.534000
2020-01-06,73.548630,95.143997,69.890503,155.041870,335.829987,30.102667
...,...,...,...,...,...,...
2022-10-04,146.100006,121.089996,101.639999,248.880005,240.740005,249.440002
2022-10-05,146.399994,120.949997,101.430000,249.199997,236.729996,240.809998
2022-10-06,145.429993,120.300003,101.419998,246.789993,240.020004,238.130005
2022-10-07,140.089996,114.559998,98.680000,234.240005,224.750000,223.070007
2022-10-10,140.419998,113.669998,97.860001,229.250000,229.979996,222.960007

In [14]:
df.loc[START_DATE:END_DATE, 'GOOGL']

Date
2020-01-02     68.433998
2020-01-03     68.075996
2020-01-06     69.890503
2020-01-07     69.755501
2020-01-08     70.251999
                 ...
2022-09-26     98.169998
2022-09-27     97.500000
2022-09-28    100.050003
2022-09-29     97.419998
2022-09-30     95.650002
Name: GOOGL, Length: 693, dtype: float64

#### Get ticker stock price

In [6]:
df = sd_one.get_df()

In [7]:
df.sort_values(['Date', 'Ticker']).tail(n=20)

,Date,Ticker,Adj_Close,Close,High,Low,Open,Volume
9417,2022-10-07,A,127.440002,127.440002,130.929993,126.959999,130.449997,1154700.0
4176,2022-10-07,AAPL,140.089996,140.089996,143.100006,139.449997,142.539993,85859100.0
4177,2022-10-07,AMZN,114.559998,114.559998,118.169998,113.879997,118.000000,54626400.0
9418,2022-10-07,F,12.200000,12.200000,12.300000,12.000000,12.180000,56437700.0
9419,2022-10-07,G,44.160000,44.160000,45.310001,44.000000,45.200001,758900.0
4197,2022-10-07,GOOGL,98.680000,98.680000,100.529999,98.300003,99.849998,27481800.0
9420,2022-10-07,L,51.349998,51.349998,51.939999,51.040001,51.910000,760900.0
9421,2022-10-07,M,17.440001,17.440001,17.510000,17.030001,17.110001,7775700.0
4198,2022-10-07,MSFT,234.240005,234.240005,241.320007,233.169998,240.899994,37732400.0
4178,2022-10-07,NFLX,224.750000,224.750000,237.330002,224.279999,235.770004,9784800.0
9422,2022-10-07,O,58.029999,58.029999,58.709999,57.680000,58.200001,3286100.0
9423,2022-10-07,S,26.540001,26.540001,27.270000,26.110001,26.990000,2023300.0
9424,2022-10-07,T,14.940000,14.940000,15.240000,14.900000,15.230000,53399500.0
4199,2022-10-07,TSLA,223.070007,223.070007,234.570007,222.020004,233.940002,83592300.0
4179,2022-10-10,AAPL,140.419998,140.419998,141.889999,138.570007,140.419998,74899000.0
4180,2022-10-10,AMZN,113.669998,113.669998,116.250000,112.430000,115.099998,42339700.0
4200,2022-10-10,GOOGL,97.860001,97.860001,99.099998,97.010002,99.000000,18225100.0
4201,2022-10-10,MSFT,229.250000,229.250000,234.559998,226.729996,233.050003,29743600.0
4181,2022-10-10,NFLX,229.979996,229.979996,233.830002,224.229996,225.639999,9991100.0
4202,2022-10-10,TSLA,222.960007,222.960007,226.990005,218.360001,223.929993,67925000.0

In [7]:
df.loc[df.duplicated(['Date', 'Ticker']), :]

Empty DataFrame
Columns: [Date, Ticker, Adj_Close, Close, High, Low, Open, Volume]
Index: []

In [8]:
df.loc[df.Date == '2022-09-29', :]

Empty DataFrame
Columns: [Date, Ticker, Adj_Close, Close, High, Low, Open, Volume]
Index: []

In [9]:
df.pivot(index='Date', columns='Ticker', values='Adj_Close')

Ticker           GOOGL        MSFT        TSLA
Date
2019-12-31   66.969498  153.745209   27.888666
2020-01-02   68.433998  156.591995   28.684000
2020-01-03   68.075996  154.642166   29.534000
2020-01-06   69.890503  155.041870   30.102667
2020-01-07   69.755501  153.628235   31.270666
...                ...         ...         ...
2022-09-23   98.739998  237.919998  275.329987
2022-09-26   98.169998  237.449997  276.010010
2022-09-27   97.500000  236.410004  282.940002
2022-09-28  100.050003  241.070007  287.809998
2022-09-29   97.419998  237.500000  268.209991

[693 rows x 3 columns]

In [9]:
sd_one.write_df()

Dataframe is saved to:  Data/stock_df.parquet