In [1]:
from matplotlib import pyplot as plt
import yfinance as yf
import pandas as pd
import numpy as np
from datetime import date
import c_stock_data as SD

# Set input parameters to fetch data

In [2]:
FILE_PATH = 'Data/stock_df.parquet'
START_DATE = date(2020, 1, 1)
END_DATE = (date.today() - pd.offsets.BDay(1)).date()  # Go back 1 business day from current day
TICKERS = ['GOOGL', 'MSFT', 'TSLA', 'AAPL', 'NFLX', 'AMZN']

# Fetch downloaded data

1. Check if downloaded data exists
2. Check if downloaded data has requested tickers
3. Check if downloaded data has requested time period

### 1. Check for downloaded data

In [3]:
sd_one = SD.YFinData(tickers=TICKERS, start_date=START_DATE, end_date=END_DATE, file_path=FILE_PATH)

In [4]:
sd_one.get_df()

File found - using stored data
Tickers to be added:  AMZN
[*********************100%***********************]  1 of 1 completed
Starts as early as possible
Should download earlier data for existing tickers
[*********************100%***********************]  5 of 5 completed

,Date,Ticker,Adj_Close,Close,High,Low,Open,Volume,NaN
0,2019-12-31,GOOGL,66.969498,66.969498,67.032997,66.606499,66.789497,19514000.0,NaN
1,2019-12-31,MSFT,153.745239,157.699997,157.770004,156.449997,156.770004,18369400.0,NaN
2,2019-12-31,TSLA,27.888666,27.888666,28.086000,26.805332,27.000000,154285500.0,NaN
3,2020-01-02,GOOGL,68.433998,68.433998,68.433998,67.324501,67.420502,27278000.0,NaN
4,2020-01-02,MSFT,156.591995,160.619995,160.729996,158.330002,158.779999,22622100.0,NaN
...,...,...,...,...,...,...,...,...,...
7719,2022-10-10,AAPL,140.419998,140.419998,141.889999,138.570007,140.419998,74899000.0,NaN
7720,2022-10-10,GOOGL,97.860001,97.860001,99.099998,97.010002,99.000000,18225100.0,NaN
7721,2022-10-10,MSFT,229.250000,229.250000,234.559998,226.729996,233.050003,29743600.0,NaN
7722,2022-10-10,NFLX,229.979996,229.979996,233.830002,224.229996,225.639999,9991100.0,NaN
7723,2022-10-10,TSLA,222.960007,222.960007,226.990005,218.360001,223.929993,67925000.0,NaN